<%= form_for(@document_state) do |f| %>
  <% if @document_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_state.errors.count, "error") %> prohibited this document_state from being saved:</h2>

      <ul>
      <% @document_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :document_state_prev_id %><br />
    <%= f.select(:document_state_prev_id, DocumentState.all.map{ |c| [c.name, c.id] } ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
